<!DOCTYPE html>
<!--[if IE 6 ]> <html lang="ja" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="ja" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="ja" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="ja" class="ie9"> <![endif]-->
<!--[if !(IE)]> ><! <![endif]-->
<html lang='ja'>
  <!-- <![endif] -->
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title><%= data.site.title %></title>
    <meta name="keywords" content="<%= data.page.keywords %>">
    <meta name="description" content="<%= data.page.description %>">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%= stylesheet_link_tag "bootstrap", "responsive" %>
    <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script> <![endif]-->
    <!--[if lte IE 7]> <script src="/assets/js/lte-ie7.js"></script> <![endif]-->
    <meta content='<%= data.page.title %>' property='og:title'>
    <meta content='<%= data.site.ogtype %>' property='og:type'>
    <meta content='<%= data.site.url %>' property='og:url'>
    <meta content='<%= data.site.ogimage %>' property='og:image'>
    <meta content='<%= data.page.description %>' property='og:description'>
    <link href='favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='apple-touch-icon.png' rel='apple-touch-icon'>
    <link href='apple-touch-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
    <link href='apple-touch-icon-114x114.png' rel='apple-touch-icon' sizes='114x114'>
    <link href='apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
    <link href='apple-touch-icon-57x57.png' rel='apple-touch-icon' sizes='57x57'>
  </head>
  <body>
    <%= partial "layouts/nav" %>
